.headerContainer {
  background-color: #222;
  height: 60px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.leftSide {
  display: flex;
  align-items: center;
}
